@import "compass/reset";
@import "compass/css3";




.content
	{
		margin-top: 108px;
		margin-left: 81px;
	}
.ne_tex
	{
		margin-top: 28px;
		padding-left: 12px;
		padding-right: 18px;
		padding-top: 5px;
		width: 518px;
		height: 680px;
		color: #2c2c2c;
		font-size: 14px;
		line-height: 26px;
		letter-spacing: 0.7px;
		overflow: auto;
	}
.top_a
	{
		width: 100%;
		margin-top: 30px;
		text-align: center;
	}
.top
	{
		color: #9d2727;
		font-size: 11px;
		
	}
