
@import "compass/reset";
@import "compass/css3";



.content
	{
		margin-top: 389px;
		margin-left: 81px;
		width: 607px;
	}
.about
	{
		color: #2c2c2c;
		font-size: 14px;
		line-height: 26px;
		letter-spacing: 0.6;
		margin-top: 10px;
		margin-left: 9px;
	}


















